pip>=24.0
bump2version~=0.5.11
wheel>=0.37.0
flake8>=6.0.0
watchdog>=3.0.0
tox>=4.0.0
coverage>=7.0.0
Sphinx>=7.2.0
twine>=4.0.0
Click>=7.1.2
pytest>=7.0.0
urllib3>=2.0.0
sphinx-rtd-theme>=2.0.0
sphinx-new-tab-link
sphinx-reredirects
docutils>=0.20.0,<0.22
furo>=2024.1.0
pytest-randomly
setuptools>=68.0.0
sphinx-design>=0.5.0
pandas>=1.5.0
importlib-metadata>=6.0.0
sphinx-inline-tabs
sphinxext-opengraph
sphinx-copybutton
myst-parser>=2.0.0
sphinx-click
sphinx-jsonschema>=1.17.0

