Click>=6.0
requests
httpx==0.28.1
httpcore==1.0.8
aiodns==3.1.1
synchronicity==0.9.11
pytest>=3
pytest-asyncio
pytest-xdist
anyio==4.2.0; python_version >= "3.8"
filelock==3.18.0; python_version >= "3.8"
pyproject-api==1.9.0; python_version >= "3.8"
black==23.3.0; python_version >= "3.8"
tomli>=2.2.1; python_version < "3.11"
aiohttp==3.8.6; python_version < "3.12"
aiohttp>=3.9.0; python_version >= "3.12"
