Click>=6.0
requests
httpx>=0.23.2
httpcore
aiodns
synchronicity>=0.5.0
pytest>=3
pytest-asyncio
pytest-xdist
pytest-randomly
anyio==4.2.0; python_version >= "3.8"
filelock>=3.12.2; python_version >= "3.8"
pyproject-api==1.9.0; python_version >= "3.9"
pyproject-api>=1.7.0; python_version < "3.9"
black==22.3.0; python_version >= "3.8"
tomli>=2.0.0; python_version < "3.11"
aiohttp<=3.8.6; python_version < "3.12"
aiohttp>=3.9.0; python_version >= "3.12"
